page-login {

.scroll-content{
        background-color: #f8f8f8
    }

    .login{
        max-width: 40em;
   display:block;
   margin:0 auto;
     background-color: #ffffff;
     margin-top: 5em}

}
