<ion-header>

	<ion-navbar>
	
	
		<ion-buttons start>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
	
		<ion-title>Events</ion-title>
	
		<ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar animated="false" placeholder="Search Events" (ionInput)="getItems($event)"></ion-searchbar>
	</ion-toolbar>

</ion-header>


<ion-content padding>
	<div text-center padding *ngIf="eventsFound != null && !eventsFound">
		<img src="assets/imgs/calendar.png" />
		<h3 padding>Nothing Found. Add a new Event now.</h3>
	</div>

	<div *ngIf="eventsFound != null && eventsFound">
		<ion-grid>
			<ion-row>
				<ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let event of events">
					<ion-card id="event-{{event.id}}">
						<ion-card-header>
							<b>{{ event.details.title }}</b>
						</ion-card-header>
						<ion-card-content>
							{{ event.details.description }}<br><br>
								<ion-item>
									<ion-icon name="calendar-outline" item-start></ion-icon>
									{{ event.details.date }}
								</ion-item>

						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	
	<!-- fab button -->
	<ion-fab right bottom>
		<button ion-fab color="dark" (click)="openAddEventModal()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
