page-jobs {

.scroll-content{
        background-color: #f8f8f8
    }
ion-card-content {
        display: block;
        display: -webkit-box;
        height: 75px;
        -webkit-line-clamp: 4 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

}
